<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <% if (htmlErr) { %>
      <p>
        <% htmlErr.message.split('\n').forEach(function (line) { %>
          <%= line %><br>
        <% }); %>
      </p>
    <% } %>

    <% if (cssErr) { %>
      <p>
        <% cssErr.message.split('\n').forEach(function (line) { %>
          <%= line %><br>
        <% }); %>
      </p>
    <% } %>

    <% if (jsErr) { %>
      <p>
        <% jsErr.message.split('\n').forEach(function (line) { %>
          <%= line %><br>
        <% }); %>
      </p>
    <% } %>

  </body>
</html>
