language: node_js
sudo: false
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
node_js:
  - '4'
branches:
  only:
    - master
before_install:
  - 'npm config set spin false'
script: 'npm run coverage'
