<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      code {
        font-family: Inconsolata, monospace;
      }
    </style>
  </head>
  <body>

    <% if (htmlErr) { %>
      <pre><code><%= htmlErr.message %></code></pre>
    <% } %>

    <% if (cssErr) { %>
      <pre><code><%= cssErr.message %></code></pre>
    <% } %>

    <% if (jsErr) { %>
      <pre><code><%= jsErr.message %></code></pre>
    <% } %>

  </body>
</html>
